body {
  --titlebar-height: 37px;

  --icon-button-size-small: 24px;
  --icon-button-size: 30px;
  --icon-button-size-large: 36px;

  --spacing-xxs:  4px;
  --spacing-xs:   calc(var(--spacing-xxs) * 2);  /* 8px  */
  --spacing-s:    calc(var(--spacing-xxs) * 3);  /* 12px */
  --spacing-m:    calc(var(--spacing-xxs) * 4);  /* 16px */
  --spacing-l:    calc(var(--spacing-xxs) * 5);  /* 20px */
  --spacing-xl:   calc(var(--spacing-xxs) * 6);  /* 24px */
  --spacing-xxl:  calc(var(--spacing-xxs) * 8);  /* 32px */
  --spacing-xxxl: calc(var(--spacing-xxs) * 10); /* 40px */

  /* Font families */
  --font-family-base: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, Consolas, monospace;

  /* Font sizes */
  --font-size-xs:   10px;  /* labels, tags, timestamps */
  --font-size-s:    12px;  /* default UI text */
  --font-size-m:    14px;  /* subheadings, emphasized UI */
  --font-size-l:    18px;  /* headings */
  --font-size-xl:   24px;  /* large headings */
  --font-size-xxl:  32px;  /* display / hero text */

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium:  500;
  --font-weight-bold:    600;

  /* Line heights */
  --line-height-tight:   1.2;
  --line-height-normal:  1.4;
  --line-height-loose:   1.6;

  margin: 0;
  font-family: sans-serif;
}

:root ,
[data-theme="dark"] {
  --background-lighter:       #f38f8f;
  --background-danger:        #e05050;
  --background-danger-darker: #a31515;

  --text-primary: #e0dbd0;
}

[data-theme="light"] {
  --background-lighter:       #aa0f0f;
  --background-danger:        #da3e3e;
  --background-danger-darker: #ea7272;

  --text-primary: #1a1915;
}

/* Titlebar */
.titlebar {
  height: var(--titlebar-height);
  background: #2b2b2b;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-app-region: drag;
}

/* ── Window Controll ───────────────────────────────────────────── */
.window-controls {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
}

.window-controls button {
  width: var(--icon-button-size-large);
  height: var(--icon-button-size-large);

  position: relative;
  border: none;
  background: transparent;
  color: var(--text-primary);

  font-size: 12px;
  cursor: pointer;
  user-select: none;

  -webkit-app-region: no-drag;
}

.window-controls button.danger:hover {
  background-color: var(--background-danger);
}

.window-controls button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.window-controls__maximize span {
  position: absolute;
  font-size: var(--font-size-xl);
  top: 2px;
  left: 35%;
}

.window-controls__close:hover {
  background-color: var(--background-danger) !important;
}

.content {
  padding: 20px;
}